#Login {
    background-color: white;
}

.Login {
    text-align: center;
    position: relative;
    display: block;
    height: 50px;
}

div[role="textbox"] {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
  }