.carosel {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: top;
    justify-content: center;
    min-height: 100vh;
}

.displayRotation {
    height: 750px;
    width: 1300px;
    overflow: hidden;
    box-shadow: 1px 1px 15px rgba(0,0,0,0.4);
}

.displayRotation .rotation {
    height: 100%;
    width: 100%;
}

.rotation img{
    height: 100%;
    width: 100%;
}